html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  background-color: black;
  color: white;
}

.bottombar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
  background-color: black;
  color: white;
}
