@media (max-width: 600px) {
    .bottombar button {
      font-size: 12px;
      padding: 4px 8px;
    }
    .bottombar {
      font-size: 14px;
      height: 45px;
    }
}
.bottombar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
  padding: 5px 10px;
}
